<h1>Orders list (orders#index)</h1>
<p>Find me in app/views/orders/index.html.erb</p>


<ul>
	<%= @orders.each do |order| %>
		<li>
			<%= link_to order.name, order_url(order) %>

			<%= link_to 'Edit', edit_order_url(order) %>

			<%= link_to 'Delete order', ingredient_url(order), :confirm => 'Are you sure ?', :method => :delete %> <br />

			Global price : <%= order.price %>€
		</li>
	<% end %>
</ul>