<h2>Products list</h2>

<% if user_signed_in? %>
	<p><a href="/products/new">Create new product</a></p>
<% end %>

<ul class="list">
	<%= @products.each do |product| %>
	<li>
		<div class="name"><%= link_to product.name, product_url(product) %></div>

		<% if user_signed_in? %>
			<%= link_to 'Edit', edit_product_url(product), :class => 'edit' %>
			<%= link_to 'Delete', product_url(product), :confirm => 'Are you sure ?', :method => :delete, :class => 'del' %> <br />
		<% end %>

		Price : <%= product.price %>€
	</li>
	<% end %>
</ul>